
@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,700,700i&display=swap');

body {

  margin: 0;
  padding: 0;

  font-family: "Overpass", sans-serif;

  box-sizing: border-box;

  p {
    line-height: 160%;
    font-size: 1.3rem;
    color: #444;
  }

  a {
    text-decoration: none;
  }

  section {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .ablock {
    text-transform: uppercase;
    background: #d42;
    color: white;
  }
}


header {

  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  background: #333;
  align-items: center;

  img#top-logo {

    margin: 14px;
    width: 50%;
    flex-grow: 1;

  }

  h1 {

    flex-grow: 1;
    font-family: serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: #eee;

  }

  div#header-spacer {
    flex-grow: 1;
  }

  nav {

    flex-grow: 0;
    align-items: center;

    ul {
      list-style-type: none;
      display: inline-block;
      padding: 10px;
      margin: 0;

      li {
	margin: 20px auto;
	padding: 12px;
	display: inline-block;
	text-transform: uppercase;
	a {
	  color: #eee;
	  text-decoration: none;
	}
      }
    }

    ul.get-started-tr {
      background: #069;
      li {
	color: white;
      }
    }
  }
  
}



div#top-splash {

  /* background: video */
  background: #ddd;
  height: 100vh;

  #top-middle-title {

    position: relative;
    top: 40vh;
    left: 45vh;
    /* margin: 0 auto; */

    
    
    p {
      display: inline-block;
      margin: 0;
      padding: 20px;
      text-transform: uppercase;
      font-weight: bold;
      color: #eee;
      

      &#recode-your-future {

	background: rgba(0,0,0,.4);
	font-weight: bold;
	font-size: 3rem;

      }

      &#find-your-course {
	margin-top: 15px;
	background: #d42;
      }
    }
  
  }

  #down-from-top {
  }
}

#course-information {

  background: #ddd;
  width: 100%;
  margin: 20px auto;
  padding: 20px;

  

  h2 {
      
    color: #069;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto 0;
    text-align: center;
      
  }
    
  div {
    display: flex;
    div {

      display: inline-block;
      flex-grow: 0;

      &.non-item-ci {
	flex-grow: 1;
      }

      &.item-ci {
	margin: 10px;
	max-width: 380px;
	background: white;
	
      }

      h3 {
	margin: 30px 30px 10px;
	font-size: 2.2rem;
      }

      p {

	margin: 30px 20px;

      }
    
      .ablock {

	display: block;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
	

      
      }
    }
  }
}


#keeps-pace {

  width: 44%;
  margin: 60px auto;
  display: flex;
  align-items: center;

  img {
    margin-right: 20px;
    flex-grow: 0;
    display: inline-block;
    width: 200px;
    height: 233px;
  }
  
  div {
    display: inline-block;
    flex-grow: 0;
  
    h3 {

      font-weight: 400;
      font-size: 2.4rem;
      
      color: #069;

    }

    p {
      
    }

    
  }
}


#python-chai {

  margin: 40px auto;
  display: flex;
  width: 50%;

  img {
    display: inline-block;
    flex-grow: 0;
    width: 564px;
    height: 320px;
    margin-right: 20px;

  }

  h2 {
    color: #d42;
  }

  .ablock {
    display: inline-block;
    padding: 10px;

    font-size: 1.8rem;
    font-weight: 800;
  }

}
