@import url("https://fonts.googleapis.com/css?family=Overpass:400,400i,700,700i&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  box-sizing: border-box;
}
body p {
  line-height: 160%;
  font-size: 1.3rem;
  color: #444;
}
body a {
  text-decoration: none;
}
body section {
  margin-top: 40px;
  margin-bottom: 40px;
}
body .ablock {
  text-transform: uppercase;
  background: #d42;
  color: white;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  background: #333;
  align-items: center;
}
header img#top-logo {
  margin: 14px;
  width: 50%;
  flex-grow: 1;
}
header h1 {
  flex-grow: 1;
  font-family: serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #eee;
}
header div#header-spacer {
  flex-grow: 1;
}
header nav {
  flex-grow: 0;
  align-items: center;
}
header nav ul {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  margin: 0;
}
header nav ul li {
  margin: 20px auto;
  padding: 12px;
  display: inline-block;
  text-transform: uppercase;
}
header nav ul li a {
  color: #eee;
  text-decoration: none;
}
header nav ul.get-started-tr {
  background: #069;
}
header nav ul.get-started-tr li {
  color: white;
}

div#top-splash {
  /* background: video */
  background: #77f;
  height: 100vh;
}
div#top-splash #top-middle-title {
  position: relative;
  top: 40vh;
  left: 45vh;
  /* margin: 0 auto; */
}
div#top-splash #top-middle-title p {
  display: inline-block;
  margin: 0;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #eee;
}
div#top-splash #top-middle-title p#recode-your-future {
  background: rgba(0, 0, 0, 0.4);
  font-weight: bold;
  font-size: 3rem;
}
div#top-splash #top-middle-title p#find-your-course {
  margin-top: 15px;
  background: #d42;
}
#course-information {
  background: #ddd;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
}
#course-information h2 {
  color: #069;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px auto 0;
  text-align: center;
}
#course-information div {
  display: flex;
}
#course-information div div {
  display: inline-block;
  flex-grow: 0;
}
#course-information div div.non-item-ci {
  flex-grow: 1;
}
#course-information div div.item-ci {
  margin: 10px;
  max-width: 380px;
  background: white;
}
#course-information div div h3 {
  margin: 30px 30px 10px;
  font-size: 2.2rem;
}
#course-information div div p {
  margin: 30px 20px;
}
#course-information div div .ablock {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
}

#keeps-pace {
  width: 44%;
  margin: 60px auto;
  display: flex;
  align-items: center;
}
#keeps-pace img {
  margin-right: 20px;
  flex-grow: 0;
  display: inline-block;
  width: 200px;
  height: 233px;
}
#keeps-pace div {
  display: inline-block;
  flex-grow: 0;
}
#keeps-pace div h3 {
  font-weight: 400;
  font-size: 2.4rem;
  color: #069;
}
#python-chai {
  margin: 40px auto;
  display: flex;
  width: 50%;
}
#python-chai img {
  display: inline-block;
  flex-grow: 0;
  width: 564px;
  height: 320px;
  margin-right: 20px;
}
#python-chai h2 {
  color: #d42;
}
#python-chai .ablock {
  display: inline-block;
  padding: 10px;
  font-size: 1.8rem;
  font-weight: 800;
}

/*# sourceMappingURL=main.css.map */
